<a href="https://colab.research.google.com/github/Shreyanand/programming-practice/blob/master/DS_questions_prac.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

### Multiple columns criteria for selecting

* USE df.loc[(df[..]) & (df[..,])]

In [0]:
import pandas as pd

raw_data = {'name': ['Willard Morris', 'Al Jennings', 'Omar Mullins', 'Spencer McDaniel'],
                'age': [20, 19, 22, 21],
                'favorite_color': ['blue', 'blue', 'yellow', "green"],
                'grade': [88, 92, 95, 70]}



df = pd.DataFrame(raw_data)
df.head()
df.loc[(df['grade'] > 90) & (df['favorite_color'].isin(['blue', 'yellow']))]

### Using value_count and groupby

In [0]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(url, sep='\t')

# For information regarding df
chipo.info()

# Value count for series data
chipo['order_id'].value_counts()

# Value count to dataframe
chipo['order_id'].value_counts().to_frame('counts').reset_index(level=0).rename(columns={'index':'id'})

# Average revenue per order
chipo['revenue'] = chipo['item_price'] * chipo['quantity']
chipo[['order_id', 'revenue']].groupby('order_id').sum().mean()

In [0]:
chipo[['order_id', 'revenue', 'item_name']].groupby(['order_id', 'item_name']).count().reset_index() #group by gives a multiindex, flatten it by reset_index

Index(['order_id', 'item_name', 'revenue'], dtype='object')

### Using str for columns

In [0]:
#chipo[chipo.item_name.str.startswith('C')]
chipo[chipo.item_name.str[0] =='C']

### Using iloc and isin

In [0]:
chipo.iloc[:3, :3]

In [0]:
chipo.loc[chipo.item_name.isin(['Chicken Bowl'])]

  ### For each occupation present the percentage of women and men

In [0]:
users = pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', 
                      sep='|', index_col='user_id')

import numpy as np
g = users.groupby('occupation')
octop = []
for i,j in g:
    male = 0
    female = 0
    for k in j['gender']:
        if k == "M":
            male += 1
        else:
            female += 1
    malep = round(male*100 / (male + female), 2)
    femalep = round(female*100 / (male + female), 2)
    octop.append([i, malep, femalep])
    
pd.DataFrame(data=np.asarray(octop), columns=['Occupation', 'Male%', 'Female%'])

In [0]:
gender_ocup = users.groupby(['occupation', 'gender']).agg({'gender': 'count'})
occup_count = users.groupby(['occupation']).agg('count')
occup_gender = gender_ocup / occup_count * 100
occup_gender.loc[: , 'gender']

### Using Describe
- include all for all columns
- can use for groupby element

### Merging

In [0]:
# pd.concat([df1, df2])
# df1.append(df2)

# Along columns 
pd.concat([df1, df2], axis=1)

#With on condition
pd.merge(df1, df2, on='id', how='inner')

### Str options

In [0]:
import pandas as pd
url = "https://raw.githubusercontent.com/realpython/python-data-cleaning/master/Datasets/BL-Flickr-Images-Book.csv"
sdf = pd.read_csv(url)

In [0]:
ppub = sdf['Place of Publication']
cond = ppub.str.contains('london')
np.where(cond, 'London', ppub.str.replace('-', '')) # Where function takes in (condition, then, else) or just condition
# str.replace
# str.split
# str.contains
# str.cat

array(['London', 'London; Virtue & Yorston', 'London', ..., 'London',
       'Newcastle upon Tyne', 'London'], dtype=object)

In [0]:
#ppub.str.split(',|;|:')
#sdf.loc[np.where(ppub.str.contains('London'))] # all columns with london; np.where gives index
#ppub.str.cat(sdf.Title, sep= ':, ')
#ppub.str.extract(r'(London)') #extract for regex

In [0]:
tpub = sdf['Title']
titledf = tpub.str.strip().str.split('[\W_]+')
rows = []
for e,i in enumerate(titledf.tolist()):
    rows.append(pd.Series(i).value_counts())
    
tpubp = tpub.str.replace('[^\w\s]', '').str.split(' ')
tf = tpubp[1:3].apply(lambda x: pd.value_counts(x).to_frame()))

In [0]:
def idf(word):
    np.log(tpub.shape[0] / np.where(tpub.str.contains(word))[0].shape[0])

tf.iloc[0].apply(lambda x: idf(x))

# NUMPY

In [0]:
import numpy as np

np.arange(9).reshape(3,3)

np.identity(3)

np.linspace(-1, 1, 10)  #Gives linearly spcaed elements within a space

Z = np.pad(Z, pad_width=1, mode='constant', constant_values=0)

Z = Z - np.mean(Z) / np.std(Z)

print(np.unravel_index(99,(6,7,8))) #100th element in a shape (6,7,8)

print(0 * np.nan)
print(np.nan == np.nan)
print(np.inf > np.nan)
print(np.nan - np.nan)
print(np.nan in set([np.nan]))
print(0.3 == 3 * 0.1)

### Custom dtype

In [0]:
color = np.dtype([("r", np.ubyte, 1),
                  ("g", np.ubyte, 1),
                  ("b", np.ubyte, 1),
                  ("a", np.ubyte, 1)])

z = np.asarray([(1,2,3,4), (1,2,3,4)], dtype=color)

Z = np.zeros(10, [ ('position', [ ('x', float, 1),
                                  ('y', float, 1)]),
                   ('color',    [ ('r', float, 1),
                                  ('g', float, 1),
                                  ('b', float, 1)])])

### Selecting column based on condition

In [0]:
Z = np.arange(11)
Z[(3 < Z) & (Z <= 8)] *= -1
print(Z)

### Common elements between two arrays

In [0]:
Z1 = np.random.randint(0,10,10)
Z2 = np.random.randint(0,10,10)
print(np.intersect1d(Z1,Z2))

### Array from generator

In [0]:
def gen():
    for i in range(10):
        yield i
Z = np.fromiter(gen(), dtype=int)
Z

### Checking if arrays are equal

In [0]:
A = np.random.randint(0,2,5)
B = np.random.randint(0,2,5)

# Assuming identical shape of the arrays and a tolerance for the comparison of values
equal = np.allclose(A,B)
print(equal)

# Checking both the shape and the element values, no tolerance (values have to be exactly equal)
equal = np.array_equal(A,B)
print(equal)

np.allclose(0.3, 0.1*3)

In [0]:
# Make array read only
Z.flags.writeable = False

### Sorting, max, min

In [0]:
# Maximum element in an array
z = np.random.random(3)
z[np.argmax(z)]

In [0]:
# Sorting based on second column
z = np.random.random((3,3))
z[np.argsort(z[:,1])]

In [0]:
# Closest element to given element in the array
v = 43.666
z = np.arange(100)
z[np.argmin(np.abs(z-v))]

### Enumerating an array

In [0]:
z = np.random.random((3,3))
for index, value in np.ndenumerate(z):
    print(index, value)

In [0]:
[i for i in z.flat]

### Bincount

In [0]:
np.bincount(np.array([1,1,1,3,3,5,5,5])) # Will give array of 6 elements (0-5) for each index calculating the count

array([0, 3, 0, 2, 0, 3])

### Repeat

In [0]:
C = np.bincount([1,1,2,3,4,4,6])
A = np.repeat(np.arange(len(C)), C)  #Repeats each element in arange by element in C times
print(A)